@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Lexend:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    transition: 0.50s ease-in-out;
    text-decoration: none !important;
    list-style: none;
    font-family: "Lexend";
}
body{
    width: 100%;
    background: #1A1A1A;
}

/* All-items */
.text-1{
    font-size: 35px;
    color: #FFFFFF;
}

.text-1 span{
    color: #CAFF33;
}
.text-2{
    font-size: 28px;
    color: #FFFFFF;
}

.text-2 span{
    color: #CAFF33;
}
.text-3{
    font-size: 28px;
    color: #CAFF33;
}
.text-5{
    font-size: 15px;
    color: #FFFFFF;
}
.text-4{
    font-size: 13px;
    color: #B3B3B3;
}
.btn-1{
    padding: 9.5px 20px;
    border-radius: 82px;
    background: #CAFF33;
    border: 1px solid #CAFF33;
    transition: 0.4s;
    color: #1C1C1C;
    font-size: 12px;
}
.btn-1:hover{
    box-shadow: 0 0 10px 5px #CAFF33;

}
.nav-lists{
    font-size: 13px;
    color: #FFFFFF;
}
@media screen and (max-width: 568px) {
    .text-1{
        text-align: center;
    }
    .text-2{
        text-align: center;
    }
    .text-3{
        text-align: center;
    }
    .text-4{
        text-align: center;
    }
    .btns-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* All-items */

.header{
    width: 100%;
}
/* Navbar Start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
    padding: 10px 30px;
    position: fixed;
    background: #1C1C1C;
    border: 1px solid #262626;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 95%;
    transition: 0.30s;
    z-index: 10000;
    height: auto;
}
.navbar.sticky{
    background: #1C1C1C;
    backdrop-filter: blur(30px);
    padding: 20px 40px;
    margin: 0 30px;
}
.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    margin: 18px 0;
}
.nav-list li a{
    color: #FFFFFF;
    font-size: 13px;
}
.bars{
    display: none;
}
.bars img{
    cursor: pointer;
}
.nav-log{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-log-2{
    display: none;
}
@media screen and (max-width: 768px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        margin: 20px 15px;
    }
    .nav-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 38px;
        gap: 10px;
        left: 0;
        right: 0;
        background: #1C1C1C;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        overflow: hidden;
    }
    .nav-log-2{
        display: block;
    }
    .nav-log{
        display: none;
    }
    .btns-1{
        margin: 5px 0;
    }
    .nav-list li{
        padding: 10px 0;
        position: relative;
        right: 20px;
    }
    .nav-log-2 .btn-1{
        position: relative;
        right: 20px;
    }
    .bars{
        display: block;
    }
    .navbar.sticky{
        background: #1C1C1C;
        backdrop-filter: blur(30px);
        padding: 20px 40px;
        margin: 0 10px;
    }
}
@media screen and (max-width: 568px) {
    .navbar{
        margin: 10px 5px;
    }
    .navbar.sticky{
        background: #1C1C1C;
        backdrop-filter: blur(30px);
        padding: 10px 10px;
        margin: 0 10px;
    }
}
.main{
    margin: 100px  80px;
    height: auto;
    border: 1px solid #FFFFFF;
    padding: 40px 20px;
    border: 1px solid #1C1C1C;
    background: #1C1C1C;
    border-radius: 30px;
}
.words{
    width: 500px;
    height: auto;
    background: #1A1A1A;
    padding: 50px 30px;
    border-radius: 10px;
    height: 60vh;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 2px;
    z-index: 10;
}

.imgs img{
    width: 650px;
    height: 500px;
    z-index: 0;
}
.main-1{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
@media screen and (max-width: 1200px) {
    .main-1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }
    .words{
        margin-top: 20px;
    }
    .imgs img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
@media screen and (max-width: 560px) {
    .words{
        width: 100%;
        height: auto;
        border-bottom-right-radius: 10px;
        margin-top: -20px;
    }
    .main{
        width: 100%;
        margin: 80px 0;
        border-radius: 10px;
        padding: 30px 0;
    }
}

/* Section-COntant-1 Start */
.Section-COntant-1{
    margin-bottom: 20px;
}
.carts{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    grid-template-rows: auto auto;
}
.boxs{
    border-left: 1px solid #CAFF33;
    width: fit-content;
    padding: 0 15px;
} 
@media screen and (max-width: 768px) {
    .carts{
        display: grid;
        grid-template-columns: auto;
    }
}
/* Section-COntant-1 End */


/* Section-COntant-2 Start */
.Section-COntant-2{
    padding: 50px 0;
}
.box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.carts-1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.boxs-1{
    padding: 20px;
    border: 1px solid #CAFF331A;
    border-radius: 14px 40px 14px 40px;
    background: linear-gradient(to right,#CAFF330D, #CAFF3300, #1C1C1C, #1C1C1C00);
}
@media screen and (max-width: 768px) {
    .carts-1{
        display: grid;
        grid-template-columns: auto;
    }
}
/* Section-COntant-2 End */

/* Section-COntant-3 Start */
.boxs-3{
    border: 1px solid #262626;
    border-radius: 15px;
    background: #1C1C1C;
    width: fit-content;
    padding: 25px;
}
.carts-2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.btn-2{
    font-size: 11px;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 80px;
    padding: 3px 15px;
    color: #B3B3B3;
}
.bachers{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
}
.bachers p{
    margin-top: 18px;
}
@media screen and (max-width: 992px) {
    .carts-2{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        justify-content: center;
    }
    .bachers{
        height: auto;
    }
    .requir p{
        text-align: start;
    }
}
/* Section-COntant-3 End */


/* Aside-COntant-1 Start */
.boxs-4{
    width: fit-content;
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 12px 20px;
}
.boxs-4 h6{
    padding: 12px 0;
    border-bottom: 2px solid #262626;
}
.carts-3{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.btns-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.btn-3{
    padding: 13px 20px;
    border: 1px solid #262626;
    background: #1C1C1C;
    border-radius: 80px;
    font-size: 14px;
    color: #FFFFFF;
}
@media screen and (max-width: 992px) {
    .carts-3{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    .boxs-4 p{
        text-align: start;
    }
}
/* Aside-COntant-1 End */

/* Aside-COntant-2 Start */
.Aside-COntant-2{
    padding: 50px 0;
}
.word-5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(to right,#c9ff3313, #c9ff3300, #1c1c1c0c,#1C1C1C);
}
@media screen and (max-width: 568px) {
    .word-5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btns-5{
        margin-top: 20px;
    }
}
/* Aside-COntant-2 End */

/* Footer-COntant Start */
.Footer-COntant{
    background: #1C1C1C;
    padding: 50px 0;
}
.footer{
    text-align: center;
}
.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.list li a{
    color: #FFFFFF;
    font-size: 13px;
}
.links{
    display: flex;  
    justify-content: center;
    gap: 20px;
}
.links a{
    color: #FFFFFF;
}
.borders{
    border-bottom: 1px solid #262626;
    margin: 40px 0;
}
.links a{
    display: flex;
    gap: 5px;
}
.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1A1A1A;
    border: 1px solid #262626;
    padding: 15px 18px;
    border-radius: 80px;    
    margin-top: 80px;
}

.one a{
    font-size: 12px;
    color: #B3B3B3;
}
.two a{
    font-size: 12px;
    color: #B3B3B3;
}
.links-1 a{
    font-size: 15px;
    border: 1px solid #CAFF33;
    padding: 10px 12px;
    border-radius: 50%;
    color: #CAFF33;
    position: relative;
}

.links-1 a:hover{
    background: #CAFF33;
    color: #1A1A1A;
}
@media screen and (max-width: 768px) {
    .links {
        display: grid;
        grid-template-columns: auto auto;
    }
    .footer-1{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
}
@media screen and (max-width: 568px) {
    .links {
        display: grid;
        grid-template-columns: auto;
    }
    .footer-1{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        background: transparent;
        border: none;
        gap: 20px;
    }

}
/* Footer-COntant End */

